{% extends "modelo.html" %}

{% block conteudo %}


<div class="container my-4">
  <div class="bg-white text-black px-4 py-3 border rounded shadow-sm text-center">
    <h1 class="h4 fw-semibold mb-0">Funções e Procedimentos</h1>
  </div>
</div>

<div class="container">

  <div class="mb-4">
    <h3 class="h5 fw-semibold border-bottom pb-1 text-ligth">Conceito:</h3>
    <p>Funções são blocos de código reutilizáveis que executam uma tarefa e podem ou não retornar um valor.</p>
  </div>

  <div class="mb-4">
    <h3 class="h5 fw-semibold border-bottom pb-1 text-ligth">Aplicação:</h3>
    <p>Organizar melhor o código e evitar repetição.</p>
  </div>

  <div class="mb-4">
    <h3 class="h5 fw-semibold border-bottom pb-1 text-ligth">Exemplo:</h3>
    <pre class="bg-light text-dark p-3 border rounded">
def saudacao(nome):
    print("Olá,", nome)

saudacao("Lucas")
    </pre>
  </div>

  <div class="mb-4">
    <h3 class="h5 fw-semibold border-bottom pb-1 text-ligth">Com retorno:</h3>
    <pre class="bg-light text-dark p-3 border rounded">
def soma(a, b):
    return a + b

resultado = soma(3, 5)
print(resultado)
    </pre>
  </div>


<a href="/" class="btn btn-light">Página Inicial</a>
</div>

{% endblock %}