{% extends "modelo.html" %}

{% block conteudo %}
<div class="container my-4">
  <div class="bg-white text-black px-4 py-3 border rounded shadow-sm text-center">
    <h2 class="h4 fw-semibold mb-0">Fundamentos de Programação em Python</h2>
  </div>
</div>

<div class="container my-4">
  <div class="d-grid gap-2">
    <a href="/fundamentos/selecao" class="btn btn-light">Estruturas de Seleção</a>
    <a href="/fundamentos/repeticao" class="btn btn-light">Estruturas de Repetição</a>
    <a href="/fundamentos/vetores" class="btn btn-light">Vetores e Matrizes</a>
    <a href="/fundamentos/funcoes" class="btn btn-light">Funções e Procedimentos</a>
    <a href="/fundamentos/excecoes" class="btn btn-light">Tratamento de Exceções</a>
  </div>
</div>

{% endblock %}