{% extends "modelo.html" %}

{% block conteudo %}

<div class="container mt-5">
  <div class="row justify-content-center">

      <div class="container my-4">
        <div class="bg-white text-black px-4 py-3 border rounded shadow-sm text-center">
          <h1 class="h4 fw-semibold mb-0">Sobre nossa equipe</h1>
        </div>
      </div>



    <!-- Victor -->
    <div class="col-md-3 mb-4">
      <div class="card text-center h-100 d-flex align-items justify-content-center p-3"
          style="transition: transform 0.3s;">
        <img src="static/img/victor_perfil.png" class="rounded-circle mx-auto d-block" alt="victor"
            style="width: 150px; height: 150px; object-fit: cover; margin-top: 15px;">
        <div class="card-body">
          <h5 class="card-title">Victor de Oliveira <br> Gadelha</h5>
          <p class="card-text"></p>
          <a href="https://github.com/VictorGadelhaa" class="btn btn-light d-flex flex-column align-items-center gap-1" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Miguel -->
    <div class="col-md-3 mb-4">
       <div class="card text-center h-100 d-flex align-items justify-content-center p-3" style="transition: transform 0.3s;">
        <img src="static/img/miguel_perfil.png" class="rounded-circle mx-auto d-block" alt="miguel"
              style="width: 150px; height: 150px; object-fit: cover; margin-top: 15px;">
        <div class="card-body text-center">
          <h5 class="card-title">Miguel Coura <br> Lemos</h5>
          <p class="card-text"></p>
          <a href="https://github.com/MIGUELLEMOS777" class="btn btn-light d-flex flex-column align-items-center gap-1" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Diogo  -->
    <div class="col-md-3 mb-4">
      <div class="card text-center h-100 d-flex align-items justify-content-center p-3" style="transition: transform 0.3s;">
        <img src="static/img/diogo_perfil.png" class="rounded-circle mx-auto d-block" alt="diogo"
             style="width: 150px; height: 150px; object-fit: cover; margin-top: 15px;">
        <div class="card-body text-center">
          <h5 class="card-title">Diogo Ewerton <br> Silva</h5>
          <p class="card-text"></p>
          <a href="https://github.com/DiogoDgzin" class="btn btn-light d-flex flex-column align-items-center gap-1" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <!-- José -->
    <div class="col-md-3 mb-4">
      <div class="card text-center h-100 d-flex align-items justify-content-center p-3" style="transition: transform 0.3s;">
        <img src="static/img/jose_perfil.png" class="rounded-circle mx-auto d-block" alt="josé"
             style="width: 150px; height: 150px; object-fit: cover; margin-top: 15px;">
        <div class="card-body text-center">
          <h5 class="card-title">José Maria Ferreira de Araújo</h5>
          <p class="card-text"></p>
          <a href="https://github.com/josepharauj" class="btn btn-light d-flex flex-column align-items-center gap-1" target="_blank">
            <img src="static/img/git.png" alt="GitHub" width="20">
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>


  </div>

  <div class="align-left mt-4">
    <a href="/" class="btn btn-light">Página Inicial</a>
  </div>
</div>

{% endblock %}
